body{
	background-color: #d7dbd7;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
	flex: 1 0 auto;
	}
nav{
	height: 15vh;
	margin: auto;
	background-color: #0097a7;
}
.container{
	width: 85%;
	min-height: 80vh;
	background-color: rgba(255,255,255,1);
}
.pseudoContainer{
	width: 84%;
	padding-left: 2%;
	padding-right: 2%;
	margin: auto;
}

.container .row{
	padding-left: 2%;
	padding-right: 2%;
}

.blank{
	margin-top: 5%;
}

@media only screen and (max-device-width: 751px) {
		#titulo{
			font-size: 1em;
		}
		.container{
			width: 100%;
		}
		.pseudoContainer{
			width: 100%;
		}
	}